<?xml version="1.0"?>

<configuration>

  
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="gbe.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
      <!--<add key="connection_string" value="Server=tcp:gbespoolsdbserver.database.windows.net;Database=gbe;User ID=hans@gbespoolsdbserver.database.windows.net;Password=suaL5MsCJ697;Trusted_Connection=False;Encrypt=True;" /> -->
       <add key="connection_string" value="Integrated Security=true;database=gbe;server=localhost\SQLEXPRESS01" /> 
  <add key="gsbin" value="C:\Program Files (x86)\gs\gs9.50\bin" />
    <add key="aspnet:MaxHttpCollectionKeys" value="40000" />
    <add key="pdf2doc" value="C:\Program Files (x86)\Intelligent Converters\p2wagent.exe" />
    <add key="cust_deliv_note_email_recips" value="&lt;hans.stuart@pcf.co.uk&gt;;&lt;hans.stuart@hotmail.co.uk&gt;" />
    <add key="transaction_file_dir" value="C:\Temp\gbe_trans" />
    <add key="ws_url" value="http://localhost/gbe_ws/gbe.asmx" />
    <add key="imsl_ws_url" value="http://localhost/imsl_ws/imsl_ws.asmx" />
    <add key="users_exempt_to_schedule_time_based_lockout" value="pcf|pcf" />
    <add key="rate_per_minute_welder" value="0.33" />
    <add key="rate_per_minute_fitter" value="0.28" />
  </appSettings>

  <connectionStrings/>
  
    <system.web>

      <httpRuntime maxRequestLength="40960" />
      
      <pages maintainScrollPositionOnPostBack="true" />
        <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
        <compilation debug="true" />
        <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
        <authentication mode="Forms" >
            <forms loginUrl="login.aspx" timeout="30"  slidingExpiration="true"/>
        </authentication>

        <authorization>

          <deny users="?"/>

        </authorization>
        <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    </system.web>
    <applicationSettings>
        <gbe.Properties.Settings>
            <setting name="gbe_gbe_ws_cgbe" serializeAs="String">
                <value>http://localhost/gbe_ws/gbe.asmx</value>
            </setting>
            <setting name="gbe_imsl_ws_imsl_ws" serializeAs="String">
                <value>http://localhost/imsl_ws/imsl_ws.asmx</value>
            </setting>
        </gbe.Properties.Settings>
    </applicationSettings>
</configuration>
